// Define the color for the loader
$loader-size: 100px;
$loader-border: 6px;

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: $loader-size;
  height: $loader-size;
  padding-left: 0;

  &::after {
    content: ' ';
    display: block;
    width: calc($loader-size - $loader-border * 2);
    height: calc($loader-size - $loader-border * 2);
    margin: 8px;
    border-radius: 50%;
    border: $loader-border solid transparent; // Corrected border color
    border-top-color: $blue; // Add this for the visible animation
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
