.search-container {
  display: flex;
  align-items: center;
  position: relative;

  input {
    padding: 8px 12px;
    border: 1px solid $light-gray;
    border-radius: 25px;
    width: 500px;
    padding: 20px 30px;
    background-color: $light-gray;

    &:focus {
      outline: none;
      border-color: transparent;
    }
  }

  button {
    position: absolute;
    right: 10px;
    background-color: $blue;
    border: none;
    cursor: pointer;
    padding: 10px;
    gap: 10px;
    border-radius: 80px;
  }

  .suggestions-dropdown {
    position: absolute;
    top: 100%; 
    left: 10px;
    width: 90%;
    background-color:#f0f0f0;
    border:none;
    border-top: none; 
    max-height: 200px; 
    overflow-y: auto;
    border-radius: 0 0 8px 8px;
    z-index: 10; 

    li {
      padding: 8px 12px;
      cursor: pointer;

      &:hover,
      &[aria-selected="true"] {
        background-color: $dark-gray; /* Highlight on hover */
      }
    }
  }
}
